MONGO_VERSION=8.0
KAFKA_VERSION=3.8.0

PAYMENT_SERVICE_PORT=8085
MONGO_PORT=27017
KAFKA_PORT=9092
KC_HTTPS_PORT=8443

PAYMENT_DB_ROOT_USER=ROOT_USER
PAYMENT_DB_ROOT_PASSWORD=ROOT_PASSWORD
PAYMENT_DB_NAME=payments_db
PAYMENT_DB_USERNAME=DB_USERNAME
PAYMENT_DB_PASSWORD=DB_PASSWORD

KEYCLOAK_REALM=REALM
KEYCLOAK_CLIENT_ID=CLIENT_ID

EXTERNAL_API_URL=https://www.random.org